.editor {
    box-sizing: border-box;
    border: 1px solid #ddd;
    
    padding: 16px;
    border-radius: 2px;
    margin-bottom: 2em;
    box-shadow: inset 0px 1px 8px -3px #ABABAB;
    background: #fefefe;
    width: 600px;
    overflow-y: scroll;
  }
  .editorRead {
    box-sizing: border-box;
    border: 1px solid #ddd;
    padding: 16px;
    border-radius: 2px;
    margin-bottom: 2em;
    box-shadow: inset 0px 1px 8px -3px #ABABAB;
    background: #fefefe;
    width: 600px;
    overflow-y: scroll;
  }
  
  .editor :global(.public-DraftEditor-content) {
    min-height: 540px;
    
  }
